#Calculator{
border: solid 1px seagreen;
border-radius: 5px;
width: 200px;
}
#display{
    margin: 10px;
    width: 85%;
    font-size: 18px;
}
.button1{
    width: 45px;
    height: 45px;
    margin: 3px;
}
.button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}